{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h3>Вы уже зарегистированы</h3>
    {% else %}
    <form action="/register/" method="post">
        {% csrf_token %}
        <div>
            {% for field in form%}
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {{ field.help_text }}
            {% endfor %}
        </div>
        <div><input class="button" type="submit" value="Зарегистрироваться"></div>
    </form>
    <div><a href="/login/">Вход</a></div>
    {% endif %}
{% endblock %}